<ion-view>

    <ion-nav-buttons side="right">
      <a class="button button-clear icon-left" ng-href="#/screenings/edit/{{screening.id}}" nav-direction="forward" ng-if="screening && !screening.complete">
        <i class="icon ion-edit"></i>
        Bewerken
      </a>
    </ion-nav-buttons>
  <div ng-if="screening">
    <ion-content>
      <!-- Title -->
      <div class="row">
        <div class="col text-center">
          <h1 class="dark">{{screening.client.initials}}</h1>
        </div>
      </div>

      <!-- Properties -->
      <div class="card">
        <div class="item item-divider">
          Doel
        </div>
        <div class="item item-text-wrap">
          {{screening.goal}}
        </div>
      </div>

      <!-- Action buttons -->
      <div ng-if="!screening.complete && screening.rooms">
        <div ng-if="screening.rooms && !screening.rooms.length">
          <a class=" button button-full button-large button-balanced icon-center ion-play" href="#/survey/survey/{{screening.id}}" nav-direction="forward">
             Screening Starten
          </a>
        </div>
        <div ng-if="screening.rooms && screening.rooms.length">
          <a class=" button button-full button-large icon-center ion-play" href="#/survey/survey/{{screening.id}}" nav-direction="forward">
             Screening Hervatten
          </a>
          <button class="button button-full button-large icon-center ion-checkmark" ng-click="complete(screening)">
            Screening Afwerken
          </button>
        </div>
      </div>

      <!-- List of rooms -->
      <ion-list class="list card">
        <ion-item collection-repeat="room in screening.rooms">
          {{room.room}}
          <span class="item-note">
            {{numberOfIssues(screening, room)}}
            <span ng-if="numberOfIssues(screening, room) == 1">
              hindernis
            </span>
            <span ng-if="numberOfIssues(screening, room) != 1">
              hindernissen
            </span>
          </span>
        </ion-item>
      </ion-list>

    </ion-content>

    <!-- Footer -->
    <div class="bar bar-footer">
      <div class="title"><small>Laatst Bewerkt: <b>{{screening.last_edit | date: "HH:mm dd/MM/yyyy"}}</b></small></div>
    </div>
  </div>
  <div ng-if="!screening">
    <ion-content>
      <div class="row row-center">
        <div class="col col-center text-center">
          <h1><i class="ion-leaf"></i></h1>
          <h1 class="dark">Geen Doel Geselecteerd</h1>
          <p>Selecteer een Doel uit de lijst om details te bekijken.</p>
        </div>
      </div>
    </ion-content>
    <style>
      .row, .scroll {
        height: 100%
      }
    </style>
  </div>
</ion-view>
