<ion-view view-title="Playlists">
  <ion-content>
    <div class="row responsive-sm">
      <div class="col-50 ">
        <ion-list>
          <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
            {{playlist.title}}
          </ion-item>
        </ion-list>
      </div>
      <div class="col-50">
        <ion-list>
          <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
            {{playlist.title}}
          </ion-item>
        </ion-list>
      </div>
    </div>
  </ion-content>
</ion-view>
