<ion-view>
  <ion-nav-title>{{room.room}}</ion-nav-title>
  <ion-tabs class="tabs-icon-top tabs-color-positive" ng-if="room">
    <ion-tab title="Screening" icon="ion-eye" on-select="showSurvey()"></ion-tab>
    <ion-tab title="Foto's" icon="ion-images" on-select="showPhotos()"></ion-tab>
  </ion-tabs>
  <ion-content>
    <div ng-if="room">
      <rs-survey-list ng-if="surveyTab()" structure="structure" screening="screening" room="room" kinds="kinds"></rs-survey-list>
      <rs-survey-photos ng-if="photoTab()" screening="screening" room="room"></rs-survey-photos>
      <div id="extraPadding"></div>
    </div>


    <div ng-if="!room">
      <ion-content>
        <div class="row row-center">
          <div class="col col-center text-center">
            <h1><i class="ion-leaf"></i></h1>
            <h1 class="dark">Geen Ruimte Geselecteerd</h1>
            <p>Selecteer een Ruimte uit de lijst om details te bekijken.</p>
          </div>
        </div>
      </ion-content>
      <style>
        .row, .scroll {
          height: 100%
        }
      </style>
    </div>
  </ion-content>
</ion-view>
