<div class="col-offset-10">
  <div class="row">
    <div class="col">
      <button
        class="button button-clear"
        ng-class="{'button-stable': !issue.not_applicable, 'button-assertive': issue.not_applicable}"
        ng-click="toggleApplicable()">
        Afwezig
      </button>
    </div>
    <div class="col text-right">
      <button
        class="button button-clear"
        ng-class="{'button-stable': !issue.issue_client, 'button-assertive': issue.issue_client}"
        ng-click="toggleClient()">
        Client
      </button>
      <button
        class="button button-clear"
        ng-class="{'button-stable': !issue.issue_care_giver, 'button-assertive': issue.issue_care_giver}"
        ng-click="toggleCareGiver()">
        MantelZorger
      </button>
    </div>
  </div>
  <div class="row">
    <h4 ng-click="showKinds($event)">Soort: FA, BS</h4>
  </div>
  <div class="row">
    <div class="col">
      <label class="item item-input">
        <textarea  placeholder="Opmerkingen"></textarea>
      </label>
    </div>
  </div>
</div>
