<ion-popover-view style="height: {{(60*kinds.length)+'px'}}">
  <ion-header-bar>
    <h1 class="title">Soort</h1>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item
        class="item-icon-right"
        ng-repeat="kind in kinds"
        ng-click="toggleKind(kind.sort_issue)"
        ng-class="{'item-stable': !hasKind(kind.sort_issue), 'item-positive': hasKind(kind.sort_issue)}">
        <i class="icon ion-android-checkmark-circle" ng-if="hasKind(kind.sort_issue)"></i>
        <b>{{kind.sort_issue}}</b>:
        {{kind.description}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-popover-view>
