<ion-view cache-view="false">
  <ion-content>
    <div class="loginBackground">

      <div class="row row-center login">
        <div class="col col-center col-50 col-offset-25 text-center">
          <div ng-if="!loading">
            <img src="img/icon.png" alt="RoomScreeningLogo" width="250px" />
            <h1>RoomScreening</h1>
            <form class="padding" name="loginForm" ng-submit="doLogin()">
              <div class="errorMessage" ng-if="falseCredentails">
                <p>Ongeldige email/wachtwoord combinatie</p>
              </div>
              <div class="errorMessage" ng-if="error">
                <p>Iets ging mis op de server. Probeer het later nog eens.</p>
              </div>
              <ion-list>
                <label class="item item-input">
                  <input type="email" placeholder="Emailadres" ng-model="loginData.email" required>
                </label>
                <label class="item item-input">
                  <input type="password" placeholder="Wachtwoord" ng-model="loginData.password" required>
                </label>
                  <button class="button button-large button-block button-positive" ng-class="{'button-clear': loginForm.$invalid}" type="submit" ng-disabled="loginForm.$invalid">Login</button>
              </ion-list>
            </form>
          </div>
          <div ng-if="loading">
            <ion-spinner></ion-spinner>
          </div>
        </div>
      </div>

    </div>
  </ion-content>
</ion-view>

<style>
.row, .scroll {
  height: 100%;
}
</style>
